* {
  font-family: Roboto, sans-serif;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.section-one,
.footer {
  background-color: #1F2937;
}

.section-one {
  padding: 15px 200px 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 125px;
}

h3,
.header-logo {
  font-size: 24px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.hero {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.section-one .left-section {
  width: 450px;
  height: 241px;
}

h1,
button,
.header-logo {
  font-weight: bolder;
}

h1,
h3,
button,
.header-logo {
  color: #F9FAF8;
}

h1 {
  font-size: 48px;
}

h1,
.section-one p {
  margin-bottom: 10px;
}

ul,
.image,
.section-one p,
.section-four p,
.footer {
  color: #E5E7EB;
  font-size: 18px;
}

button,
.blue-container {
  background-color: #3882F6;
  border: 0;
  border-radius: 8px;
}

button {
  font-size: 18px;
  padding: 8px 30px;
}

.image {
  background-color: #e5e7eb69;
  padding: 100px 125px;
  display: flex;
}

.section-two {
  padding-bottom: 90px;
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

h2,
.quote {
  font-size: 36px;
}

h2,
.text,
.quote {
  color: #1F2937;
}

h2 {
  font-weight: bolder;
  margin-top: 45px;
  margin-bottom: 45px;
}

.info {
  max-width: 165px;
  justify-content: center;
  align-items: center;
}

.illus {
  width: 165px;
  height: 165px;
  border: 4px solid;
  border-radius: 15px;
  border-color: #3882F6;
}

.text {
  margin-top: 8px;
}

.section-three {
  background-color: #E5E7EB;
}

.quote-container {
  padding: 100px 305px;
}

.quote {
  font-weight: lighter;
  font-style: italic;
}

.section-three p {
  font-weight: bolder;
  text-align: end;
}

.section-four {
  padding: 100px 200px;
}

.blue-container {
  padding: 50px 125px;
  display: flex;
  justify-content: space-between;
}

.section-four button {
  border: 2px solid;
  border-color: #F9FAF8;
  align-self: center;
}

h3 {
  margin-bottom: 8px;
}

.footer {
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}